@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default, light, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine;
}

@plugin "@tailwindcss/typography";

@layer base {
  body {
    @apply h-screen overflow-hidden;
  }
}